.index {
  background-color: #05321e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.index .container {
  position: relative;
  width: 100%;
}

.index .LOGO-MCCHST {
  height: 180px;
  position: relative;
  display: block;
  margin: 20px auto 50px;
  width: 180px;
  cursor: pointer;
}

.index .text-container {
  padding: 20px;
  color: antiquewhite;
}

.form-caption {
  color: antiquewhite;
  font-weight: 900;
  padding: 20px;
}

.button-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
